@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  --bs-primary: black !important;
  --light-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  --border-color: #e4e4e7 !important;
  --hover-color: hsl(var(--primary) / 0.9) !important;
  --bs-font-sans-serif: "Geist", "Roboto", sans-serif !important;
  --text-color: #71717a !important;
  --primary: 240 5.9% 10% !important;
  --base-font: 16px !important;
}
