@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  --light-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --border-color: #e4e4e7;
  --hover-color: hsl(var(--primary) / 0.9);
  --font: "Geist", "Roboto", sans-serif;
  --text-color: #71717a;
  --primary: 240 5.9% 10%;
  --base-font: 16px;
}
